<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update</title>
</head>
<body>
    <h1>Update book</h1>
    <form method="post">
        <fieldset>
            <legend>Update data</legend>
            <table>
                <tr>
                    <td><label for="genre">genre</label></td>
                    <td><input type="text" name="genre" value="<%= data.genre %>"></td>
                </tr>
                <tr>
                    <td><label for="name">name</label></td>
                    <td><input type="text" name="name" value="<%= data.name %>"></td>
                </tr>
                <tr>
                    <td><label for="writer">writer</label></td>
                    <td><input type="text" name="writer" value="<%= data.writer %>"></td>
                </tr>
            </table>        
        </fieldset>
        <input type="submit"/>
        <input type="button" value="취소" id="cancel">
    </form>
    <script>
        // 취소 버튼 클릭시 조회 페이지로 돌아감
        const cancel = document.querySelector('#cancel');
        cancel.addEventListener('click', () => {
            location.href = '/';
        });
    </script>
</body>
</html>